<div class="container-fluid"  x-ng-app="leagueapp" style="margin-top:60px">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navBar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/leagues/<%=@league.id%>">( Rummle League ) <small><%= @league.name%></small></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a data-toggle="dropdown">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <a ui-sref="league">Schedule and Standings</a>
              </li>
              <li>
                <a ui-sref="results">Results and Stats</a>
              </li>
            <% if current_user && current_user.id == @league.user_id %>
              <li role="presentation" class="divider"></li>
              <li>
                <a data-toggle="modal" data-target="#editModal" data-remote="<%= edit_league_path(@league.id) %> #edit_league_modal">Edit League</a>
              </li>
            </ul>
          </li>
            <li>
              <%= link_to "Logout " + current_user.email, session_path(session), method: :delete %>
            </li>
          <% elsif current_user %>
            <li>
              <%= link_to "Logout " + current_user.email, session_path(session), method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign Up", root_path %>
            </li>
            <li>
              <a data-toggle="modal" data-target="#signinModal" data-remote="<%= new_session_path(current_user) %> #new_session_modal">Sign In</a>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  

    <div ng-show="errors" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" ng-click="clearErrors();" aria-hidden="true">&times;</button>
      <ul>
        <li ng-repeat="(attribute, error) in errors">
          {{attribute}} {{error.join(", ")}}
        </li>
      </ul>
    </div>

    <div class="tab-content" x-ng-controller="LeagueCtrl" x-ng-init="setLeague(<%= @league.id %>);">
      <div class="tab-pane active" id="home">
        <div ui-view></div>
      </div>
    </div>

</div>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
